@use "global" as *;

.campaign-tab__item {
  justify-items: center;
  position: relative;
  border: solid rem(1) $blue1;
  display: flex;
  justify-content: center;
  padding: rem(6) 0;
  font-size: rem(14);
  font-weight: $normal;
  font-family: "Noto Sans JP", serif;
  cursor: pointer;
  color: $blue1;
  background: $white;

  @include mq("md") {
    width: rem(162);
  }
}

.campaign-tab__item:hover {
  transition: 0.3s;
  cursor: pointer;
  color: $white;
  background-color: $blue1;
}

.campaign-tab__item.is-color {
  color: $white;
  background-color: $blue1;
}

.campaign-tab__item.is-color:hover {
  color: $blue1;
  background-color: $white;
}

.campaign-tab__item.is-active {
  color: $white;
  background-color: $blue1;
}

